# .npmrc configuration file

# Save exact versions of dependencies
save-exact=true

# Set the default registry
registry=https://registry.npmjs.org/

# Always require authentication for publishing
always-auth=true

# Set the cache directory
cache=/home/matiasdev/.npm-cache

# Set the log level
loglevel=warn